body
{
  background-image:url("C:\Users\MyHPLaptop\Desktop\proj\salimage.jpg");
  }


<h1>
{
  background-color:purple;
  color:white;
  font-family:"Comic Sans MS","cursive,sans-seriff";
}

.topnov{
background-color:white;
overflow:hidden;
}

.topnov a {
float:left;
color:white;
text-align:center;
padding: 14px 16px;
text-decoration:none;
font-size:17px;
}

.topnov a:hover{
background-color:white;
color:black;
}

.topnov a.active{
background-color:white;
color:white;
}


